.popup__image-inner-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  height: auto;
  position: relative;
}

.popup__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  max-height: 75vh;
  max-width: 75vw;
}

.popup__opened {
  display: flex;
}

.popup__image-description {
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 544px) {
  .popup__image-inner-container {
    width: 90%;
  }
}
